/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c2c2c; /* Deep Grey Body */
    color: #f4f4f4;
    line-height: 1.6;
}

h1 {
	font-family: Garamond;
	font-size: 60px;
}

h2 {
	font-family: Garamond;
	font-size: 28px;
}

h3 {
	font-family: Garamond;
	font-size: 30px;
	border-bottom: 2px solid darkgoldenrod;
    margin-bottom: 15px;
}


h4 {
	font-family: Garamond;
	font-size: 25px;
	margin-top: 15px;
}

h5 {
	font-family: Garamond;
	font-size: 20px;
	text-align:center;
	margin-top: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

a:-webkit-any-link {
    color: #a5aab0;
}

/* Header & Footer: Black */
header, footer {
    background-color: #424242;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

header h2 {
	color: #b4b4b4;
}


/* Main Content Section */
main {
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}



.ruins-background-crop {
    height: 250px;
    background-image: url(resources/ruins-bonito.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -60px;
    margin-bottom: 20px;
}


/* Gallery Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.img-caption {
	align-content: end;
	padding-top: 10px;
    padding-bottom: 20px;
}

.img-caption-centered {
	align-content: end;
	padding: 10px 100px 20px; 
}

.img-caption-centered img {
	height: 225px;
	margin-top: 15px;
}

.centered {
	margin: 15px auto;
    display: block;
}

.left {
	margin: 30px 30px 30px 0;
	float: left; /* This is the key property */
}

.right {
	margin: 10px;
	float: right; /* This is the key property */
}

.reference-caption {
	text-align: center;
    font-style: italic;
}
	

.gallery-grid-high img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    border: 2px solid #444;
	margin: 20px 0;
}

.gallery-grid-high img:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
    border-color: #888;
}

.gallery-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    border: 2px solid #444;
}

.gallery-grid img:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
    border-color: #888;
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
}